*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 html{
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
} 
.container{
  margin-top: 10px;
  width: 100%;
  height:9vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: 1px solid;
  box-shadow: rgb(77, 56, 56) 1px 2px 5px;
  padding-left: 40px;
  padding-top: 2px;
}
.logo-img img{
  width: 58px;
}
.list-ul{
  display: flex;
  align-items: center;
  gap: 73px;
  padding-right: 107px;
}
.list-ul{
  list-style: none;
}
.list-ul li a{
  text-decoration: none;
  font-size: 25px;
  color:rgb(23 145 200);
}
.list-ul a:hover{
  color: crimson;
  text-decoration: underline;
}
.main-container{
  height: 82vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.first-section{
  justify-content: center;
  text-align: center;
  font-size: 47px;
  line-height: 89px;
  color: rgb(23 145 200);
}
.highlight {
  color:rgb(0 0 0);
}
.second-section{
  width: calc(100%- 50%);
  display: inline-flex;
  justify-content: center;
  text-align: center;
}
.second-section img{
  box-shadow: 0px 0px 16px black;
  width: 281px;
  border-radius: 50%;
  cursor: pointer;
}
button {
  border: none;
  background-color:rgb(23 145 200);
  color: white;
  padding: 13px 25px;
  font-size: 28px;
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgb(0 0 0);
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
background-color: crimson;
font-size: 33px;
}
footer{
  height: 5vh;
  background-color: rgb(223 241 249);
  text-align: center; 
}

@media screen and (max-width: 858px) {
  .list-ul{
    gap: 20px;
  }

  .main-container{
    flex-direction: column;
    justify-content: center;
  }
  .first-section{
    font-size: 32px;
    margin-bottom: 25px;
    line-height: 53px;
  }
  
}
@media screen and (max-width: 600px){
  .container{
    height: 40px;
    padding-left:10px;
  }
  .logo-img img{
    width: 38px;
  }
  .list-ul{
    gap: 10px;
    padding-right: 40px;
  }
  .list-ul li a {
    font-size:18px;
  }
  .second-section img{
    width: 195px;
  }
  button{
    padding: 9px 21px;
    font-size: 18px;
  }
  button:hover {
  font-size: 29px;
  }

}
@media screen and (max-width: 360px){
  .container{
    height: 38px;
    padding-left:6px;
  }
  .list-ul{
    gap: 7px;
    padding-right: 15px;
  }
  .list-ul li a {
    font-size:15px;
  }
  .first-section{
    font-size: 22px;
    margin-bottom: 70px;
    line-height: 48px;
  }
  footer{
    height: 40px;
    font-size: 12px;
  }
}
@media screen and (max-width: 275px){
  .container{
    padding-left:4px;
  }
  .logo-img img{
    width: 33px;
  }
  .list-ul{
    gap: 5px;
  }
  .list-ul li a {
    font-size:13px;
  }
  .second-section img{
    width: 160px;
  }
  .first-section{
    font-size: 19px;
    margin-bottom: 70px;
    line-height: 35px;
  }
  footer{
    height: 40px;
    font-size: 12px;
  }
  button {
    padding: 7px 14px;
    font-size: 14px;
  }
  button:hover {
  font-size: 18px;
  }

}
