.about_container{
  padding: 44px;
  text-align: center;
  line-height: 2.1rem;
  background-color: rgb(250, 248, 248);
}
.about_container h1{
  font-size: 50px;
}
.container_para{
  font-size: 22px;
}
.about_section{
  max-width:100%;
  display: flex; 
}
.first_about{
  width: 50%;
  text-align:left;
  padding: 23px;
  margin: 25px;
  line-height: 2.1rem;
}
.first_about h3{
font-size: 30px;
margin-bottom: 20px;
}
.first_about p{
  font-size: 22px;
}
.first_about button{
  margin: 10px;
}
.second_about{
  width: 50%;
  padding: 23px;
  margin: 25px;
}
.second_about h3{
  font-size: 30px;
  margin-bottom: 20px;
}
.my_skills{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  
}
.skill{
  font-size: 20px;
  background-color: rgb(221, 223, 223);
  padding: 10px 22px;
  border-radius: 9px;
}

@media screen and (max-width: 858px){
  .about_section{
    flex-direction: column;
  }
  .container_para{
    font-size: 20px;
  }
  .first_about{
    width: 100%;
    padding: 7px;
    margin: 10px 0;
  }
  .first_about p{
    font-size: 18px;
  }
  .second_about{
    width: 100%;
    padding: 7px;
    margin: 10px 0;
  }
  .skill{
    font-size: 18px;
  }
}